<?php
return array(
  'fetch' => PDO::FETCH_CLASS,

  'default' => '{{ envString "DB_TYPE" }}',

  'connections' => array(
    'sqlite' => array(
      'driver'   => 'sqlite',
      'database' => '{{ envString "DB_DATABASE" }}',
      'prefix'   => '{{ envString "DB_PREFIX" }}',
    ),
    'mysql' => array(
      'driver'    => 'mysql',
      'host'      => '{{ envString "DB_HOST" }}',
      'database'  => '{{ envString "DB_DATABASE" }}',
      'username'  => '{{ envString "DB_USERNAME" }}',
      'password'  => '{{ envString "DB_PASSWORD" }}',
      'prefix'    => '{{ envString "DB_PREFIX" }}',
      'charset'   => '{{ envString "DB_CHARSET" }}',
      'collation' => '{{ envString "DB_COLLATION" }}',
    ),
    'pgsql' => array(
      'driver'   => 'pgsql',
      'host'     => '{{ envString "DB_HOST" }}',
      'database' => '{{ envString "DB_DATABASE" }}',
      'username' => '{{ envString "DB_USERNAME" }}',
      'password' => '{{ envString "DB_PASSWORD" }}',
      'prefix'   => '{{ envString "DB_PREFIX" }}',
      'charset'  => '{{ envString "DB_CHARSET" }}',
      'schema'   => '{{ envString "DB_SCHEMA" }}',
    ),
  ),

  'migrations' => 'migrations',

  'redis' => array(
    'cluster' => {{ envBool "REDIS_CLUSTER" }},
    'default' => array(
      'host'     => '{{ envString "REDIS_HOST" }}',
      'port'     => {{ envInt "REDIS_PORT" }},
      'database' => {{ envInt "REDIS_DATABASE" }},
    ),
  ),
);
