<?php
return array(
  'driver' => '{{ envString "MAIL_DRIVER" }}',

  'host' => '{{ envString "MAIL_HOST" }}',
  'port' => {{ envInt "MAIL_PORT" }},
  'from' => array(
    'address' => '{{ envString "MAIL_ADDRESS" }}',
    'name' => '{{ envString "MAIL_NAME" }}',
  ),
  'encryption' => '{{ envString "MAIL_ENCRYPTION" }}',
  'username' => '{{ envString "MAIL_USERNAME" }}',
  'password' => '{{ envString "MAIL_PASSWORD" }}',

  'sendmail' => '{{ envString "MAIL_SENDMAIL" }}',
  'pretend' => false,
);
